*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.wraper{
    width: 100vw;
    height: 100vh;
}

.conteiner-left{
    display: inline-block;
    width: 60%;
    margin-top: 14%;
    padding-left: 136px;
}

.conteiner-right{
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    width: 40%;
    height: 100vh;
    position: absolute;
}

img{
    position: relative;
    top: 20%;
    right: 116px;
    width: 65%;
}

h1{
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
    width: 395px;

}

p{
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #5D5D7D;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin: 15px 0;
    width: 577px;
}

button{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    width: 269px;
    height: 62px;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

button:hover{
    opacity: .6;
}
button:active{
    opacity: .5;
}

a{
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    margin-right: 41px;
    cursor: pointer;
}
a:nth-child(2){
        opacity: .4;
}
a:hover{
    opacity: 0.4;
}
a:active{
    opacity: 0.5;
}

header{
    margin: 24px 0 0 57px;
}

@media screen and (max-width:900px){
    .conteiner-left{
        margin: 0%;
        padding: 0%;
        width: 100%;
        height: 50%;
    }
    .conteiner-right{
        display: block;
        width: 100%;
        height: auto;
        position: static;
        padding: 40px;
        height: 50%;
    }

    img{
        position: static;
        max-width: 88%;
        display: block;
        margin: auto;

    }

    header{
        display: none;
    }

    h1{
        width: auto;
        font-size: 36px;
        line-height: 52px;
        text-align: center;
        color: #5D5D7D;
        margin: 50px 50px 0 50px;
    }

    p{
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button{
        margin: 0 auto;
        display: block;
        position: relative;
    }
}